$background_color: #282828;
$container: #323232;
$card: #323232;
$error_color: #EF4444;


$border: #3A3A3A;
$input_border: #9f9f9f;

$primary: #4A90E2;
$primary_click: #3972b3;

$secondary: #3DDC97;

$primary_text: #E0E0E0;
$muted_text: #B0B0B0;
