@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

// registering ubuntu mono fonts
@font-face {
  font-family: 'UbuntuMono';
  src: url('/assets/fonts/ubuntu-mono/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'UbuntuMono', monospace;
}

#root {
  width: 100%;
  padding: 0 0.6rem;
}