// generic width
$mobile_s: 320px;
$mobile_m: 375px;
$mobile_l: 425px;
$tablet: 768px;
$monitor: 1024px;
$monitor2k: 1440px;
$monitor4k: 2560px;

// mobile specific size
$iphone_se: 375px;
$iphone_xr: 414px;